music_directory "~/Music/iTunes/iTunes\ Media/Music"

playlist_directory "~/.mpd/playlists"
db_file "~/.mpd/db"
log_file "~/.mpd/mpd.log"
pid_file "~/.mpd/mpd.pid"
state_file "~/.mpd/state"
sticker_file "~/.mpd/sticker.sql"

user "mpd"
group "mpd"

bind_to_address "127.0.0.1"
port "6600"

auto_update "yes"
follow_outside_symlinks	"yes"
follow_inside_symlinks "yes"

# Stream audio to icecast
audio_output {
  name "play"

  type "shout"
  encoding "ogg"
  host "127.0.0.1"
  port "8000"
  mount "/mpd.ogg"

  # Icecast default user and password for "source"
  user "source"
  password "hackme"

  bitrate "92"
  format "44100:16:1"
}

## In case icecast isn't running
# audio_output {
#   type "osx"
#   name "fake out"
#   driver "null"
# }

# audio_output {
#   type            "osx"
#   name            "My Mac Device"
#   mixer_type      "software"
# }

# audio_output {
#   type            "httpd"
#   name            "my stream"
#   mixer_type      "software"
#   encoder         "vorbis"                # optional, vorbis or lame
#   port            "8000"
#   bind_to_address "127.0.0.1"               # optional, IPv4 or IPv6
# #  quality         "2.0"                   # do not define if bitrate is defined
#   bitrate         "128"                   # do not define if quality is defined
#   format          "44100:16:1"
#   max_clients     "0"                     # optional 0=no limit
# }
