<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">


  <link rel="stylesheet" href="/css/base.css">

  <script type="text/javascript" src="/js/application.js"></script>

  <title>Play</title>
</head>

<body>


  <input id="fileupload" type="file" name="files[]" data-url="/upload" style="display: none" multiple>

  <section id="top-bar">
    <header class="row">

      <section id="controls">
      </section><!-- /#controls -->

      <section id="session">
        <span class="user-logged-in">Hello, <a href="/user/{{login}}">@{{login}}</a></span>
        |
        <span><a href="/logout">logout</a></span>
      </section>

    </header>
  </section>


  <section id="now-playing" class="row">
  </section>


  <section id="queue-results" class="row">

    <header>
      <nav>
        <a class="queue" href="/">Queue</a>
      </nav>

      <form class="search" method="get" action="/search" id="search">
        <input type="search" name="q" placeholder="Search" value="" />
      </form>
    </header>

    <section id="songs">
      {{{yield}}}
    </section>

  </section>

  <section id="uploads" class="row">
    <section id="current"></section>

    <div id="progressbar"></div>
  </section>

</body>

</html>
